<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Component Meteo</title>
</head>

<body>
    <header class="header">
        <aside data-component="meteo-mtl"></aside>
        <h1 data-header="titre" class="header-titre">Les recettes à Marcel</h1>
        <aside data-component="meteo-lvl"></aside>
    </header>
</body>

</html>