:root {
    --card-width: 200px;
}

.recette-cardCard {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    max-width: var(--card-width);
    display: inline-block;
    /* grid: repeat(2, 60px) / auto-flow 80px; */
}

.recette-cardCard img {
    width: var(--card-width);
    height: var(--card-width);
    object-fit: cover;
}