<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Component Meteo</title>
</head>

<body>
    <nav>
        <h1>Catégorie</h1>
        <ul data-nav="categories" class="nav-list">
            <li class="nav-list-item">Poulet</li>
            <li class="nav-list-item">Poutine</li>
            <li class="nav-list-item">Paprika</li>
        </ul>
    </nav>
</body>

</html>