<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <article id="3" class="recette-cardCard-open" ><img src="../../images/img1.jpg" alt="Ailes de poulet à la japonaise"></article>
    <article id="2" class="recette-cardCard-open"></article>
    <article id="3" class="recette-cardCard-open"></article>
    <article id="4" class="recette-cardCard-open"></article>
    <article id="5" class="recette-cardCard-open"></article>
    <article id="6" class="recette-cardCard-open"></article>

</body>
</html>