<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section>
        <article class="detailRecette">
                <img class="imageDetail" src="../../images/img1.jpg
                " alt="Ailes de poulet à la japonaise">
            <article class="textRecette">
                <h1 class="title">Ailes de poulet à la japonaise</h1>
                <!-- Il y a une partie qui est une constante et une partie qui change -->
                <p class="preptime">Temps de préparation: 15 minutes</p>
                <p class="cooktime">Temps de cuisson: 15 minutes</p>
                <p class="yield">Portion: 8</p>
                <p><h2>Ingrédients</h2></p>
            
                <ul>
                <li>"5 lb d'ailes de poulet"</li>
                <li>"1 tasse de sauce soya"</li>
                <li>"1/4tasse de sucre"</li>
                <li>"1 c. à thé de gingembre moulu"</li>
                <li>"2 gousses d'ail"</li>
                <li>"1/2 tasse de graines de sésame"</li>
                </ul>
                        
                        <p><h2>Préparation</h2></p>
                        <p>"Dans un grand plat, mélanger la sauce soya, le sucre, le gingembre et l'ail. En réserver 3/4 de tasse pour badigeonner le poulet. Faire mariner les ailes de poulet dans un plat au moins 2 heures, au réfrigérateur, en les retournant de temps à autre.",</p>
                        <p>"Placer les ailes de poulet dans un plat allant au four. Jeter la marinade. Préchauffer le gril du four. Badigeonner les ailes de poulet du mélange à la sauce soya réservé et faire cuire pendant 10 minutes. Les retourner et poursuivre la\n\t\t\t\tcuisson 5 à 10 minutes, ou jusqu'à ce qu'elles soient dorées et tendres.",</p>
                        <p>"Parsemer de graines de sésame et servir immédiatement."</p>
            </article>

        </article>

    </section>
</body>
</html>