<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Component Meteo</title>
</head>

<body>
    <article class="meteo-item">
        <section class="meteo-item-location">
            <p data-meteo-item="location.name" class="meteo-item-location-name">Montréal</p>
        </section>
        <section class="meteo-item-current">
            <img data-meteo-item="current.condition.icon" src="https://cdn.weatherapi.com/weather/64x64/night/113.png" alt="" class="meteo-item-condition-img">
            <section class="meteo-item-current-temps">
                <p data-meteo-item="current.temp_c" class="meteo-item-current-temps-temperature">-4.9</p>
            </section>
        </section>
    </article>
</body>

</html>