body {
    
  }
  
  header {
   padding: 0%;
    grid-row: 1; 
    background-color: black;
    margin:0;
    text-align:left;
  }
  
  header h1 {
    padding: 20px;
    color: white;
  }
  
  header h2 {
    color: white;
  }
  
  nav {
    display: inline-block;
    width: 150px;
    grid-column: 1;
    grid-row: 2;
    /* border: 1px solid black; */
    vertical-align: top;
  }
  footer {
    /* border: 1px solid red; */
    padding: 1px;
    grid-row: 1; 
    background-color: black; 
    color: white;
    text-align: center;
    }
    