<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <article class="detailRecette">
      <img
        data-recette-detail="image"
        class="recette-detail-imageDetail"
        src="../../images/img1.jpg
                "
        alt="Ailes de poulet à la japonaise"
      />
      <section class="recette-detail-textRecette">
        <h1 data-recette-detail="title" class="title">
          Ailes de poulet à la japonaise
        </h1>
        <!-- Il y a une partie qui est une constante et une partie qui change -->
        <p data-recette-detail="preptime" class="recette-detail-preptime">Temps de préparation: 15 minutes</p>
        <p  data-recette-detail="cooktime" class="recette-detail-cooktime">Temps de cuisson: 15 minutes</p>
        <p data-recette-detail="yield" class="recette-detail-yield">Portion: 8</p>
      </section>

      <setcion class="recette-detail-ingredient">
        <h2 class="recette-detail-ingredient-header">Ingrédients</h2>
        <ol 
          data-recette-detail="ingredient_list"
          class="recette-detail-ingredient-list"
        >
          <li class="recette-detail-ingredient-item">Une tasse d'amour </li>
       
         
        </ol>
      </setcion>

      <section>
        <h2 class="recette-detail-ingredient-header">Préparation</h2>

        <ol data-recette-detail="instruction_list">
          <li>
            
              "Dans un grand plat, mélanger la sauce soya, le sucre, le
              gingembre et l'ail. En réserver 3/4 de tasse pour badigeonner le
              poulet. Faire mariner les ailes de poulet dans un plat au moins 2
              heures, au réfrigérateur, en les retournant de temps à autre.",
            
          </li>
          <li>
            
              "Placer les ailes de poulet dans un plat allant au four. Jeter la
              marinade. Préchauffer le gril du four. Badigeonner les ailes de
              poulet du mélange à la sauce soya réservé et faire cuire pendant
              10 minutes. Les retourner et poursuivre la\n\t\t\t\tcuisson 5 à 10
              minutes, ou jusqu'à ce qu'elles soient dorées et tendres.",
            
          </li>
          <li>
            <p>"Parsemer de graines de sésame et servir immédiatement."</p>
          </li>
        </ol>
      </section>
    </article>
  </body>
</html>
