:root {
    --card-with: 300px;
}

.detailRecette {
    background-color: #cccccc;
    flex-grow: 1;
}

.imageDetail {
    margin-top: 25px;
    margin-left: 25px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(247, 245, 248);
    border-radius: 5px;
}

.textRecette {
    margin-left: 25px;
}

.recette-detail-preptime::before {
    content: "Temps de préparation:";
}

.recette-detail-cooktime::before {
    content: "Temps de cuisson:";
}

.recette-detail-yield::before {
    content: "Portion:";
}

.recette-detail-yield::after {
    content: " personnes";
}