:root {
    --card-with: 300px;
}


section {
   
}

.detailRecette {
background-color: #cccccc;


}

.imageDetail {
    margin-top: 25px;
    margin-left: 25px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(247, 245, 248);
    border-radius: 5px;

}

.textRecette {
    margin-left: 25px;

}